<div id="itinerary-form">
    <div id="itinerary-container">
        <div class="itinerary-item" id="base-itinerary-group" style="display: flex;justify-content: center;align-items: center; margin-top: 1rem;">
            <label for="place" style="width: fit-content;">Place</label>
            <input type="text" name="place[]" class="place-field">
    
            <label for="content" style="width: fit-content;margin-left: 2rem;">Content</label>
            <input type="text" name="content[]" class="content-field">
        </div>
    </div>

    <!-- <button type="button" id="add-itinerary">Add Another</button> -->
    <input type="submit" value="Add Another" class="default" id="add-itinerary" style="margin-top: 2rem;">
</div>